In [23]:
bob = ['Bob Smith', 42, 30000, 'software']
sue = ['Sue Jones', 45, 40000, 'hardware']

In [24]:
bob[0], sue[2]

('Bob Smith', 40000)

In [25]:
bob[0].split()[-1]

'Smith'

In [26]:
sue[2] *= 1.25
sue

['Sue Jones', 45, 50000.0, 'hardware']

In [27]:
people = [bob, sue]
for person in people:
    print(person)

['Bob Smith', 42, 30000, 'software']
['Sue Jones', 45, 50000.0, 'hardware']

In [28]:
people[1][0]

'Sue Jones'

In [29]:
for person in people:
    print(person[0].split()[-1])
    person[2] *= 1.20

Smith
Jones

In [30]:
for person in people: print(person[2])

36000.0
60000.0

In [31]:
pays = [person[2] for person in people]
pays

[36000.0, 60000.0]

In [32]:
pays = map((lambda x: x[2]), people)
list(pays)

[36000.0, 60000.0]

In [33]:
sum(person[2] for person in people)

96000.0

In [37]:
people.append(['Tom', 50, 0, None])
len(people)

4

In [38]:
people[-1][0]

'Tom'

In [39]:
NAME, AGE, PAY = range(3)

In [40]:
bob = ['Bob Smith', 42, 10000]

In [41]:
bob[NAME]

'Bob Smith'

In [42]:
PAY, bob[PAY]

(2, 10000)

In [43]:
bob = [['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
sue = [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]
people = [bob, sue]

In [44]:
for person in people:
    print(person[0][1], person[2][1])

Bob Smith 10000
Sue Jones 20000

In [45]:
[person[0][1] for person in people]

['Bob Smith', 'Sue Jones']

In [46]:
for person in people:
    print(person[0][1].split()[-1])
    person[2][1] *= 1.10

Smith
Jones

In [47]:
for person in people: print(person[2])

['pay', 11000.0]
['pay', 22000.0]

In [48]:
for person in people:
    for (name, value) in person:
        if name == 'name': print(value)

Bob Smith
Sue Jones

In [49]:
def field(record, label):
    for (fname, fvalue) in record:
        if fname == label:
            return fvalue

In [50]:
field(bob, 'name')

'Bob Smith'

In [51]:
field(sue, 'pay')

22000.0

In [52]:
for rec in people:
    print(field(rec, 'age'))

42
45