In [1]:
bob = {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}
sue = {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [2]:
bob['name'], sue['pay']

('Bob Smith', 40000)

In [3]:
bob['name'].split()[-1]

'Smith'

In [4]:
sue['pay'] *= 1.10
sue['pay']

44000.0

In [5]:
bob = dict(name='Bob Smith', age=42, pay=30000, job='dev')
sue = dict(name='Sue Jones', age=45, pay=40000, job='hdw')

In [6]:
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [7]:
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [8]:
sue = {}
sue['name'] = 'Sue Jones'
sue['age'] = 45
sue['pay'] = 40000
sue['job'] = 'hdw'

In [9]:
names = ['name', 'age', 'pay', 'job']
values = ['Sue Jones', 45, 40000, 'hdw']
list(zip(names, values))

[('name', 'Sue Jones'), ('age', 45), ('pay', 40000), ('job', 'hdw')]

In [10]:
sue = dict(zip(names, values))
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [11]:
fields = ('name', 'age', 'job', 'pay')
record = dict.fromkeys(fields, '?')
record

{'name': '?', 'age': '?', 'job': '?', 'pay': '?'}

### Lists of dictionaries

In [12]:
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [13]:
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [14]:
people = [bob, sue]
for person in people:
    print(person['name'], person['pay'], sep=', ')

Bob Smith, 30000
Sue Jones, 40000

In [15]:
for person in people:
    if person['name'] == 'Sue Jones':
        print(person['pay'])

40000

In [16]:
names = [person['name'] for person in people]
names

['Bob Smith', 'Sue Jones']

In [17]:
list(map((lambda x: x['name']), people))

['Bob Smith', 'Sue Jones']

In [18]:
sum(person['pay'] for person in people)

70000

In [19]:
[rec['name'] for rec in people if rec['age'] >= 45]

['Sue Jones']

In [20]:
[(rec['age'] ** 2 if rec['age'] >= 45 else rec['age']) for rec in people]

[42, 2025]

In [21]:
G = (rec['name'] for rec in people if rec['age'] >= 45)
next(G)

'Sue Jones'

In [22]:
G = ((rec['age'] ** 2 if rec['age'] >= 45 else rec['age']) for rec in people)
G.__next__()

42

In [23]:
for person in people:
    print(person['name'].split()[-1])
    person['pay'] *= 1.10

Smith
Jones

In [24]:
for person in people:
    print(person['pay'])

33000.0
44000.0

### Nested structures

In [26]:
bob2 = {'name': {'first': 'Bob', 'last': 'Smith'},
        'age': 42,
        'job':  ['software', 'writing'],
        'pay': (40000, 50000)}
bob2

{'name': {'first': 'Bob', 'last': 'Smith'},
 'age': 42,
 'job': ['software', 'writing'],
 'pay': (40000, 50000)}

In [27]:
bob2['name']

{'first': 'Bob', 'last': 'Smith'}

In [28]:
bob2['name']['last']

'Smith'

In [29]:
bob2['pay'][1]

50000

In [30]:
for job in bob2['job']:
    print(job)

software
writing

In [31]:
bob2['job'][-1]

'writing'

In [32]:
bob2['job'].append('janitor')
bob2

{'name': {'first': 'Bob', 'last': 'Smith'},
 'age': 42,
 'job': ['software', 'writing', 'janitor'],
 'pay': (40000, 50000)}

### Dictionaries of dictionaries

In [33]:
bob = dict(name='Bob Smith', age=42, pay=30000, job='dev')
sue = dict(name='Sue Jones', age=45, pay=40000, job='hdw')
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [34]:
db = {}
db['bob'] = bob
db['sue'] = sue
db['bob']['name']

'Bob Smith'

In [35]:
db['sue']['pay'] = 50000
db['sue']['pay']

50000

In [36]:
db

{'bob': {'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'},
 'sue': {'name': 'Sue Jones', 'age': 45, 'pay': 50000, 'job': 'hdw'}}

In [37]:
import pprint
pprint.pprint(db)

{'bob': {'age': 42, 'job': 'dev', 'name': 'Bob Smith', 'pay': 30000},
 'sue': {'age': 45, 'job': 'hdw', 'name': 'Sue Jones', 'pay': 50000}}

In [38]:
for key in db:
    print(key, '=>', db[key]['name'])

bob => Bob Smith
sue => Sue Jones

In [39]:
for key in db:
    print(key, '=>', db[key]['pay'])

bob => 30000
sue => 50000

In [40]:
for key in db:
    print(db[key]['name'].split()[-1])
    db[key]['pay'] *= 1.10

Smith
Jones

In [41]:
for record in db.values():
    print(record['pay'])

33000.0
55000.00000000001

In [43]:
x = [db[key]['name'] for key in db]
x

['Bob Smith', 'Sue Jones']

In [45]:
x = [rec['name'] for rec in db.values()]
x

['Bob Smith', 'Sue Jones']

In [47]:
db['tom']= dict(name='Tom', age=50, job=None, pay=0)
db['tom']

{'name': 'Tom', 'age': 50, 'job': None, 'pay': 0}

In [48]:
db['tom']['name']

'Tom'

In [49]:
list(db.keys())

['bob', 'sue', 'tom']

In [50]:
len(db)

3

In [51]:
[rec['age'] for rec in db.values()]

[42, 45, 50]

In [52]:
[rec['name'] for rec in db.values() if rec['age'] >= 45]

['Sue Jones', 'Tom']